<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true%>
  </head>

  <body>
    <nav class="navbar bg-dark">
      <div class="container-fluid">
        <%= link_to "MyBlog", articles_path, class: "navbar-brand text-light" %>
        <%if !user_signed_in? %>
          <%= link_to "Sign in", new_user_session_path, class:"btn btn-outline-primary" %>
        <% else %>
          <%= button_to current_user.email, destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
